
.task-list .task {
	background-color: #eee;
}

.task-list .milepost.before-meeting {
	background-color: gold;
	color: black;
}

.task-list .next-meeting {
	background-color: black;
	color: white;
}

.task-list .task.after-meeting {
	background-color: #f8f8f8;
}

.task-list .milepost {
	background-color: #444;
	color: white;
}

