<ion-view view-title="Task" class="task-page">
  <ion-content>
  	<div class="row">
  		<div class="col-90 task-wrapper">
  			<input type="text" ng-model="task.summary" placeholder="Summary"
  			ng-model-options="{ updateOn: 'blur' }" ng-change="saveTask(task)"></input>

  			<h5>Who's doing this?</h5>
  			<!-- TODO: Turn into a spinner -->
  			<input type="text" ng-model="task.owner"
  			ng-model-options="{ updateOn: 'blur' }" ng-change="saveTask(task)"></input>

  			<h5>What are the details?</h5>
  			<textarea rows="3" ng-model="task.description"
  			ng-model-options="{ updateOn: 'blur' }" ng-change="saveTask(task)"></textarea>

  			<h5>Task progress?</h5>
  			<div class="row row-btn">
	  			<div class="col-33">
	  				<button class="button btn-sad" 
	  				ng-class="{ active: isSad() }" 
	  				ng-click="setStatus('sad')">Help?</button>
	  			</div>
	  			<div class="col-33 give-space">
	  				<button class="button btn-new" 
	  				ng-class="{ active: isNew() }"
	  				ng-click="setStatus('new')">New</button>
	  			</div>
	  			<div class="col-33 give-space">
	  				<button class="button btn-assigned" 
	  				ng-class="{ active: isAssigned() }"
	  				ng-click="setStatus('assigned')">Will do</button>
	  			</div>
	  		</div>
	  		<div class="row row-btn">
	  			<div class="col-50">
	  				<button class="button btn-active" 
	  				ng-class="{ active: isActive() }"
	  				ng-click="setStatus('active')">
	  					<span class="icon-status" 
	  					ng-include="'img/icon-half-circle.svg'"></span>
	  					On it
	  				</button>
	  			</div>
	  			<div class="col-50 give-space fill-space">
	  				<button class="button btn-done" 
	  				ng-class="{ active: isDone() }"
	  				ng-click="setStatus('done')">
	  					<span class="icon-status" 
	  					ng-include="'img/icon-circle.svg'"></span>
	  					Done
	  				</button>
	  			</div>
	  		</div>

<!-- 	  		<h5>Questions or comments?</h5>
	  		<div class="row">
	  			<div class="col">
	  				<button class="button">Add comment</button>
	  			</div>
	  			<div class="col">
	  				<button class="button">Save</button>
	  			</div>
	  		</div> -->
  		</div>

  	</div>
  </ion-content>
</ion-view>